global
    daemon
    maxconn 256
defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen apiserver
    bind *:8080
    balance roundrobin
    option httpchk
    option forwardfor
    option http-server-close

    {% for master_ip in master_ips %}
    server api{{ loop.index }} {{ master_ip }}:8080 maxconn 32 check
    {% endfor %}
listen etcd
    bind *:2379
    balance roundrobin
    option httpchk
    option forwardfor
    option http-server-close

    {% for master_ip in master_ips %}
    server etcd{{ loop.index }} {{ master_ip }}:2379 maxconn 32 check
    {% endfor %}
listen admin
    bind *:8888
    stats enable